@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  /* height: 100vh;   */
  display: flex;
  justify-content: center;
  background-color: #171717;
}

.main-layout{
background-color: white;
width: 500px;
/* height: 100%;   */
margin: 0 auto;

}

.main-topfixedbar{
width: 500px;
height: 80px;
background-color: lightgreen;

display: flex;
align-items: center;
justify-content: flex-start;
font-size: 13px;
text-align: center;

}

.top-left {
  display: flex;
  align-items: center;
  gap: 8px;              
  margin-right: auto;     
}

.top-right {
  display: flex;
  align-items: center;
  gap: 8px;             
}

.top-item img {
  width: 18px;
  height: 18px;
}

.main-header{
width: 100%;
height: 60px;
background-color: green;
position: sticky;
top: 0;
z-index: 50;

display: flex;
align-items: center;
justify-content: center;

}

.header-serch-image{
height: 20px;
  width: auto;

}

.main-headerbanner{
width: 100%;
height: 80px;
background-color: green;
position: sticky;
top: 0;
z-index: 30;

display: flex;

}

.headerbannerleft{
background: none;
border: none;
display: flex;
flex-direction: column;
text-align: left;
cursor: pointer;
margin-left: 40px;
}

.headerbannerleftimage{
width: 100px;
}

.headerbannerlefttext{
  font-size: 10px;
  margin-top: 10px;
  font-weight: bold;

}

.headerbannerright{
  background: none;
border: none;
display: flex;
text-align: left;
cursor: pointer;

}

.headerbannerrightimage{
width: 70px;
height: 60px;
margin-left: 250px;
margin-top: 5px;

}

.main-contents1 {
  background: #f8f8f8;
  /*  height: 500px; */
}


.contents1-category{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #eee;

}

.contents1-category-panel{
  padding: 12px 8px;
  font-size: 14px;
  border: none;
  background: none;
  color: #b0b0b0;

}

.pickup-panel{
display: flex;
gap: 12px;

}


.pickup-main-card{
width: 150;
height: auto;


}

.pickup-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

}

.pickup-category-button {
  border: none;
  border-radius: 16px;
  background: #f5f5f5;
  padding: 8px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pickup-category-button img {
  width: 70px;
  height: 70px;
  margin-bottom: 4px;
}



.main-footer{
width: 500px;
height: 80px;
background-color: lightgreen;
position: fixed;
bottom: 0;

align-items: center;
display: flex;
justify-content: space-evenly;
font-size: 13px;
text-align: center;

}

.main-contents{
min-height: 2000px;
background-color: lightgray;


}